.riveContainer {
    background-color: rgb(51, 49, 55);
}

.riveSandbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;

    h1 {
        text-align: center;
        padding: 20px;
        background-color: rgb(38, 37, 40);
        margin: auto 0;
        color: white;
    }
}
.riveSandbox > .actions {

    flex-grow: 1;
    flex-direction: row;

    display: flex;
    padding: 10px 40px;
    
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.riveSandbox > .actions > button {
    flex-grow: 1;
}
