.riveSandbox {
    background-color: rgb(255, 255, 255)(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
        text-align: center;
        padding: 20px;
        background-color: rgb(219, 219, 219);
        margin: auto 0;
    }
}
.riveSandbox > .actions {

    flex-grow: 1;
    flex-direction: row;

    display: flex;
    padding: 10px 40px;
    
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.riveSandbox > .actions > button {
    flex-grow: 1;
}
